<div class='tech__wrapper'>
    <div class='tech__overlay'></div>
    <div class='tech__lights'>
        <img src="@@assetPath@@/assets/images/light--1.png" class='tech__light tech__light--1'/>
        <img src="@@assetPath@@/assets/images/light--2.png" class='tech__light tech__light--2'/>
        <img src="@@assetPath@@/assets/images/light--2.png" class='tech__light tech__light--2-2'/>
        <img src="@@assetPath@@/assets/images/light--2.png" class='tech__light tech__light--2-3'/>
        <img src="@@assetPath@@/assets/images/light--3.png" class='tech__light tech__light--3'/>
        <img src="@@assetPath@@/assets/images/light--3.png" class='tech__light tech__light--3-2'/>
        <img src="@@assetPath@@/assets/images/light--4.png" class='tech__light tech__light--4'/>
        <img src="@@assetPath@@/assets/images/light--4.png" class='tech__light tech__light--4-2'/>
        <img src="@@assetPath@@/assets/images/light--5.png" class='tech__light tech__light--5'/>
        <img src="@@assetPath@@/assets/images/light--5.png" class='tech__light tech__light--5-2'/>
    </div>
    <div class='tech__wires'></div>
</div>